@using System.Linq;

@model ChangeLog.Web.Models.HomeViewModel 

@{ 
	var title = "Galileo Release Notes";
	var rangeSpecified = false;
	var versionRange = "";
	if(Model.BeginVersion !=null && Model.EndVersion!=null){
		title += $" {versionRange}";
		rangeSpecified = true;
		versionRange= $"{Model.BeginVersion.ToString()} - {Model.EndVersion.ToString()}";
	}
	ViewData["Title"] = title;
	 
}

<h1>Galileo Change Log @versionRange</h1>
<hr>

<form action="/" method="get">
   <input name="beginVersion" type="text" value="@Model.BeginVersion?.ToString()" />
   <input name="endVersion" type="text" value="@Model.EndVersion?.ToString()" />
   <input type="submit" id="submit" value="Submit" />
</form>

@if(rangeSpecified){
	var versionGroups = Model.Commits
		.GroupBy(c => c.Version);
	var versionKeys = versionGroups.Select(g => g.Key).OrderByDescending(v => v);
	@foreach(var version in versionKeys){
	<h2>@version.ToString()</h2>
	<ul>
		@foreach(var pr in versionGroups.Single(g => g.Key == version)){
			<li><a href="@pr.Url">#@pr.PullRequestNumber</a> (@pr.Author) - @pr.Title</li>
		}
	</ul>
}
}